body {
    font-family: '思源宋体', 'Source Han Serif TC';
}

div {
    margin: 2px 0 2px 0;
}

/* Hyperlink */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration:none;
}

a:visited {
    color: black;
    text-decoration:none;
}

a:active {
    color: black;
    text-decoration:none;
}

/* Unordered List */
ul {
    margin: 0;
}

/* Paragraph */
p {
    margin: 0;
}

/* Head */
.head {
    text-align: center;
}

.head>.name {
    font-size: 1.75em;
}

.head>.contact>ul {
    list-style-type: none;
    padding: 0;
}

.head>.contact>ul>li {
    display: inline-block;
    padding-right: 1em;
}

/* Block */
.block {
    margin-bottom: 1%;
}

.block>.title {
    border-bottom: 1px solid;
    font-size: 1.2em;
    padding-bottom: 2px;
}

/* Edu */
.edu>.name {
    display: inline-block;
    font-weight: 600;
}

.edu>.span {
    float: right;
}

/* Work */
.work {
    margin-bottom: 0.75%;
}

.work>.name {
    display: inline-block;
    font-weight: 600;
}

.work>.span {
    float: right;
}

/* Project */
.project {
    margin-bottom: 0.75%;
}

.project>.name {
    display: inline-block;
    font-weight: 600;
}

.project>.url {
    float:right;
}

/* Skill */
.skill>.name {
    display: inline;
    font-weight: bold;
}

.skill>.name::after {
    content: ":";
}

.skill>.content {
    display: inline;
}

/* Other */
.other>.name {
    display: inline;
}

.other>.name::after {
    content: ":";
}

.other>.content {
    display: inline;
}
